.heading-font {
    font-family: 'Montserrat', sans-serif;
}
.content-font {
    font-family: 'Ubuntu', sans-serif;
}
.font-16 {
    font-size: 16px;
}
.font-20 {
    font-size: 20px;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */